/* font-family: 'Alegreya SC', serif;
font-family: 'Alice', serif;
font-family: 'Amatic SC', cursive;
font-family: 'Averia Gruesa Libre', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Barrio', cursive; */

body {
    background-image: url("../assets/images/memphis-colorful.png");
}

.navbar-expand-lg {
    padding: 0 0 20px;
    widows: 100%;
}

h1 {
    padding: 10px;
    font-size: 62px;
    font-family: 'Barrio', cursive;
    color: cadetblue;
    -webkit-text-stroke: 2px whitesmoke;
    background-color: #DAE7CE;
}